@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #1b2316;
  --white-color: #ffffff;
  --text-color: #c8cac8;
  --horiz-section-padding: 3rem;
  --vert-section-padding: 12rem;
  --blur-bg-color: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*::selection {
  background: #9ec84b;
  color: #1b2316;
}
*::-moz-selection {
  background: #9ec84b;
  color: #1b2316;
}
*::-webkit-selection {
  background: #9ec84b;
  color: #1b2316;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #9ec84b #1b2316;
}

body {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: var(--vert-section-padding) var(--horiz-section-padding);
  padding-bottom: 0;
}

header,
footer {
  padding: 0 var(--horiz-section-padding);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

h1 {
  font-weight: 600;
  font-size: 11rem;
  line-height: 0.75;
}
h2 {
  font-weight: 600;
  font-size: 5rem;
  color: var(--white-color);
}
h3 {
  font-size: 3.8rem;
  font-weight: 600;
  color: var(--white-color);
}
p {
  line-height: 1.18;
}

.u-card-border-gradient {
  --u-card-border-radius: 3rem;
  --u-card-transparent-percent: 25%;
  border-radius: var(--u-card-border-radius);
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(12px);
}
.u-card-border-gradient::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: var(--u-card-border-radius);
  padding: 2px;

  background:
    linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3) 0%,
        transparent var(--u-card-transparent-percent)
      )
      top left / 100% 100% no-repeat,
    linear-gradient(
        315deg,
        rgba(255, 255, 255, 0.3) 0%,
        transparent var(--u-card-transparent-percent)
      )
      bottom right / 100% 100% no-repeat;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.heading-corners {
  position: relative;
  width: fit-content;
}
